/*Defolt css*/
*{margin: 0;
    padding: 0;}
    
    .clearfix::after{content: '';
    display: block;
    clear: both;}
    
    img{max-width: 100%;}

    .left{float: left;}
    .right{float: right;}
    
    .text-center{text-align: center;}
    .text-left{text-align: left;}
    .text-right{text-align: right;}
    
    /*header css*/
    .fixed-width{width:1250px;
    margin: auto;}
    
    .header{background: #3498db;
    padding: 5px 0px;}
    .header-left{float: left;
    width: 30%;}
    
    .header-left img{width: 170px;
    height: auto;}
    
    .header-right{float: right;
        width: 70%;}
    
    .header-right ul{text-align: right;}
    .header-right ul li{display: inline-block;
        margin-left: -4px;}
    .header-right ul li a{display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 30px;
    line-height: 60px;
    transition: .4s;}

    
    /*banner*/
    .banner{background: url(./image/image-slider-with-thumbnail1.jpg) center;
        background-repeat: no-repeat;
    padding: 170px 0;
    background-size: cover;
    background-position: center;}
    
    
    .banner-caption h1{background: rgba(52, 152, 219, .6);
    color: #fff;
    max-width: 500px;
    margin: auto;
    font-size: 40px;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 30px;}
    
    .banner-caption h2{background: rgba(0, 0, 0, .4);
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;}




.about-section{background-color: #ecf0f1;
padding: 60px 0px;
text-align: center;}

.about-section h1{margin-bottom: 20px;}

.about-section p{width: 900px;
margin: auto;
font-size: 19px;}


/*service-section*/
.service-section{padding: 50px 0;}



.section-title h1 {
	font-size: 57px;
	margin-bottom: 20px;}

.section-title p {
	font-size: 25px;
	font-weight: 300;
	color: #606060;}

.service-box {
	width: 32%;
	margin-right: 2%;
	box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
	margin-bottom: 30px;
	background: #fff;
	padding: 35px;
	box-sizing: border-box;
border-radius: 4px;}

.service-box:nth-child(3n+3){margin-right: 0px;}

.s-icon span {color: #6278df;
	float: left;
	font-size: 48px;
	margin-right: 25px;
	min-height: 165px;}

.s-content {
	margin-top: 8px;}

.s-content h2 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 25px;}

.s-content p {
	font-size: 21px;
	color: #606060;
	line-height: 1.9rem;
	font-weight: 300;}





/*team-section*/
.section-title{padding: 50px 0;}

.section-title h1 {
	font-weight: 500;
	font-size: 45px;}

.team-member{width: 23.5%;
margin-right: 2%;
box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);}

.team-member:nth-child(4){margin-right: 0px;}

.member-image img {
	width: 100%;
	border-radius: 5px 5px 0 0;}

.member-text {
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 16px;}

.member-text h2 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 4px;}

.member-text p {
	font-size: 20px;
	color: #676767;}









    
    /* contact section */
 
    

   
    

    .contact-section{padding: 80px 0;}

    .contact-left-map {float: left;
        width: 48%;}
    
    .contact-right-text{float: right;
        width: 48%;}
    
    .contact-right-text h2 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 15px;
    margin-top: 20px;}
    
    .contact-right-text p {
        font-size: 22px;
        color: #767676;
        line-height: 1.8em;
        margin-bottom: 40px;}
    



    .contact-form .w-100 {
        width: 100%;
        margin-bottom: 20px;
        padding: 13px;
        border-radius: 5px;
        border: 2px solid #2c3e50;
    }
    
    .contact-form .w-50{width: 44%;
    margin-bottom: 20px;
    padding: 13px;
    border-radius: 5px;}
    
    .contact-form a{margin-left: 0;}


    a.submit-btn {
        background: #6278df;
        padding: 12px 35px;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
    }


    
    /*footer*/
    .footer{background: #2c3e50;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 0;}
    
    .footer-left{float: left;
    width: 40%;}
    
    .footer-right{float: right;
    width: 60%;}
    
    .social-menu {text-align: right;}
    
    .social-menu li{display: inline-block;}
    .social-menu li a{
        color: #fff;
    font-size: 18px;
    margin-left: 20px;
    }
    
    .footer-left p {
        position: relative;
        top: 2px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    